<div>
	<div class="page-link nav-left">
		<a href="\uxdesign">ux design</a>
	</div>
	<div class="page-link-home nav-right">
		<a href="\">home</a>
	</div>
	<div class="logo col-md-3">
	  <div id="name">
	  	<h1>
	  		architecture stuff
	  	</h1>
	  </div>
</div>