<div>
	<div class="page-link nav-left">
		<%= link_to "ux design", ux_path %>
	</div>
	<div class="page-link-home nav-right">
		<%= link_to "architect-ing", architect_path %>
	</div>
	<div class="logo col-md-3">
	  <div id="name">
	  	<h1>
	  		architecture stuff
	  	</h1>
	  </div>
</div>