<div>
	<div class="page-link nav-left">
		<%= link_to "ux design", ux_path %>
	</div>
	<div class="page-link-home nav-right">
		<%= link_to "home", root_path %>
	</div>
</div>
<!--Buttons -->
<div class="row clearfix">
  <div class="col-md-3 col-md-offset-1 column page-title"><h2>architecti-ing</h2>
  </div>
</div>
<div class="row clearfix">
  <div class="col-md-3 column  col-md-offset-1">
    <img src="button_visitor.png" data-toggle="modal" data-target="#visitorModal" class="img-rounded" id="arch-visitor-button"/>
    <h4 class="heading">visitor flow</h4>
    <p class="text-muted">I've designed for web, mobile & software so if i ramble on and on and on</p>
  </div>
 
  <div class="col-md-4 column">
    <img src="button_box.png" data-toggle="modal" data-target="#boxModal" class="img-rounded" id="arch-box-button"/>
    <h4 class="heading">outside the box</h4>
  <p class="text-muted">I've designed for web, mobile & software</p>
  </div>
 
  <div class="col-md-3 column">
    <img src="button_219.png" data-toggle="modal" data-target="#219Modal" class="img-rounded" id="arch-219-button"/>
    <h4 class="heading">don't know what to call this</h4>
    <p class="text-muted">I've designed for web, mobile & software</p>
  </div>
</div>
<!--visitor flow-->
<!-- Modal -->
<div class="modal fade" id="visitorModal" tabindex="-1" role="dialog" aria-labelledby="visitorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="visitorModalLabel" style= "color:black;">wireframes</h4>
        <p style= "color:black;">Wireframes that quickly do stuff</p>
      </div>
      <div class="modal-body">
      <div id="carousel-example-generic-visitor" class="carousel slide" data-ride="carousel">
  <!-- Indicators i deleted them-->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="safari.png">
    </div>
    <div class="item">
      <img src="section.png">
    </div>
  <div class="item">
     <img src="1hippocrocplan copy.jpg">  
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic-visitor" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic-visitor" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</div>

<!--box Modal -->
<!-- Modal -->
<div class="modal fade" id="boxModal" tabindex="-1" role="dialog" aria-labelledby="boxModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="boxModalLabel" style= "color:black;">ui design</h4>
        <p style= "color:black;">Wireframes that quickly do stuff</p>
      </div>
      <div class="modal-body">
      <div id="carousel-example-generic-box" class="carousel slide" data-ride="carousel">
  <!-- Indicators i deleted them-->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="1geo copy.jpg">
    </div>
    <div class="item">
      <img src="2.jpg">
    </div>
 <div class="item">
     <img src="P7080011.JPG">  
  </div>
 <div class="item">
     <img src="P7080023.JPG">  
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic-box" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic-box" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</div>

<!--219Modal -->
<!-- Modal -->
<div class="modal fade" id="219Modal" tabindex="-1" role="dialog" aria-labelledby="219ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="219ModalLabel" style= "color:black;">ui design</h4>
        <p style= "color:black;">Wireframes that quickly do stuff</p>
      </div>
      <div class="modal-body">
      <div id="carousel-example-generic-219" class="carousel slide" data-ride="carousel">
  <!-- Indicators i deleted them-->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="nativis.png">
    </div>
    <div class="item">
      <img src="terry.jpg">
    </div>
  <div class="item">
     <img src="kineta.jpg">  
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic-219" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic-219" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</div>

<!--hover for page links -->
<script type="text/javascript">
 $(document).ready(function() {

  $('.column').mouseover(function(){
      $( this ).find(".heading").css('letter-spacing','10px');
  }).mouseout(function(){
    $( this ).find(".heading").css('letter-spacing','0px');
  });

 });
</script>






</div>