
  <div class="page-link" id="about">
    <a href="">about</a></div>
  <div class="page-link" id="ux">
    <a href="\uxdesign">ux design</a></div>
  <div class="page-link" id="archi">
    <a href="">architect-ing</a>
  </div>
  <div class="page-link" id="contact">
    <a href="">contact</a>
  </div>
<div class="logo">
  <div id="name"><h1>rachel <span id="greene">greene</span></h1></div>
  <div id="tagline"><p>ux designer for hire</p></div>
</div>
