
	<div class="page-link nav-left">
		<%= link_to "ux design", ux_path %>
	</div>
	<div class="page-link nav-right">
		<%= link_to "architect-ing", architect_path %>
	</div>
	<div class="logo col-md-3">
	  <div id="name">
	  	<h1>
	  		rachel <span id="greene">greene</span>
	  	</h1>
	  </div>
	  <div id="tagline">
	  	<h4>ux designer for hire</h4>
	  </div>
    <div>
      <p id="quote">"Less is more" - Mies Van de Rohe</p>
      <p>I am a UX Designer with a background in architecture.</p>

      <p>As an Architect I learned to see the big picture and think outside of the box. This knowledge and experience helps me creates products that are well thought out, easy to use and delight.</p>

      <p> I like...
        <ul>
          <li> sandwiches for breakfast</li>
          <li> learning about everything</li>
          <li> products that are well designed</li>
        </ul></p>
      <p> I want..
        <ul>
          <li> to run another half marathon</li>
          <li> to raise a ciitizen of the world</li>
          <li> to be passionate about my job</li>
        </ul>
      </p>
    </div>
    <div id="lnkdn">
      <a href="https://se.linkedin.com/pub/rachel-greene/2/139/453">
      
          <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_liprofile_blue_80x15.png" width="80" height="15" border="0" alt="View Rachel Greene's profile on LinkedIn">
       </a>
    </div>
</div>
<script type="text/javascript">
 $(document).ready(function() {

  $('.link').mouseover(function(){
      $( this ).css('letter-spacing','10px');
  }).mouseout(function(){
    $( this ).css('letter-spacing','0px');
  });

 });
</script>
