  <div class="hm-pg">
    <div class="page-link nav-top">
    <a href="">about</a></div>
  <div class="page-link nav-left">
    <a href="\uxdesign">ux design</a></div>
  <div class="page-link nav-right">
    <a href="">architect-ing</a>
  </div>
  <div class="page-link nav-bottom">
    <a href="">contact</a>
  </div>
<div class="logo col-md-3">
  <div id="name"><h1>rachel <span id="greene">greene</span></h1></div>
  <div id="tagline"><p>ux designer for hire</p></div>
</div>
</div>
