<!--navigation -->
  <div>
  <div class="page-link-home nav-left">
    <%= link_to "home", root_path(:p => "ux") %>
  </div>
  <div class="page-link nav-right">
    <a href="architect">architect-ing</a>
  </div>
</div>

<!--Buttons -->
<div class="row clearfix">
  <div class="col-md-3 col-md-offset-1 column page-title"><h2>UX</h2>
  </div>
</div>
<div class="row clearfix">
  <div class="col-md-3 column  col-md-offset-1">
    <img src="button_wire.png" data-toggle="modal" data-target="#wireModal" class="img-circle" id="ux-wire-button"/>
    <h4 class="heading">wireframes</h4>
    <p class="text-muted">I've designed for web, mobile & software.</p>
  </div>
 
  <div class="col-md-4 column">
    <img src="button_sketch.png" data-toggle="modal" data-target="#paperModal" class="img-circle" id="ux-sketch-button"/>
    <h4 class="heading">paper & pen</h4>
  <p class="text-muted">Before the computer, I start with pen & paper.</p>
  </div>
 
  <div class="col-md-3 column">
    <img src="button_site.png" data-toggle="modal" data-target="#siteModal" class="img-circle" id="ux-site-button"/>
    <h4 class="heading">site flow</h4>
    <p class="text-muted">I've created site flows to help get the big picture of a product.</p>
  </div>
</div>

<div class="row clearfix-2">
  
  <div class="col-md-3 column col-md-offset-1">
    <img src="button_research.png" data-toggle="modal" data-target="#researchModal" class="img-circle" id="ux-research-button"/>
    <h4 class="heading">research</h4>
    <p class="text-muted">I have done user research.</p>
  </div>
 
  <div class="col-md-4 column">
    <img src="button_document.png" data-toggle="modal" data-target="#documentModal" class="img-circle" id="ux-document-button"/>
    <h4 class="heading">documents</h4>
    <p class="text-muted">Here are documents that I have created to communicate with clients.</p>
  </div>
 
  <div class="col-md-3 column">
    <img src="button_ui.png" data-toggle="modal" data-target="#uiModal" class="img-circle" id="ux-ui-button"/>
    <h4 class="heading">UI</h4>
    <p class="text-muted">I can make things pretty.</p>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="wireModal" tabindex="-1" role="dialog" aria-labelledby="wireModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="wireModalLabel" style= "color:black;">wireframes</h4>
        <p style= "color:black;">I use wireframes to explore concepts and designs with minimal detail in order to focus on the goals and function of a product.</p>
      </div>
      <div class="modal-body">
      <div id="carousel-example-generic-wire" class="carousel slide" data-ride="carousel">
  <!-- Indicators i deleted them-->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="epilogwire.png">
    </div>
    <div class="item">
      <img src="tasklywire.png">
    </div>
  <div class="item">
     <img src="dbwire.png">  
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic-wire" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic-wire" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</div>
<!--paper & pen-->
<!-- Modal -->
<div class="modal fade" id="paperModal" tabindex="-1" role="dialog" aria-labelledby="paperModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="paperModalLabel" style= "color:black;">paper & pen</h4>
        <p style= "color:black;">Before producing any digital image I sketch out my ideas.</p>
      </div>
      <div class="modal-body">
      <div id="carousel-example-generic-paper" class="carousel slide" data-ride="carousel">
  <!-- Indicators i deleted them-->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="paper_epilog.png">
    </div>
    <div class="item">
      <img src="paper_taskly.jpg">
    </div>
  <div class="item">
     <img src="paper_taskly2.jpg">  
  </div>
    <div class="item">
     <img src="sketch_epilog.jpg">  
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic-paper" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic-paper" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</div>
<!--site flow-->
<!-- Modal -->
<div class="modal fade" id="siteModal" tabindex="-1" role="dialog" aria-labelledby="siteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="siteModalLabel" style= "color:black;">site flow</h4>
        <p style= "color:black;">I use site flows to better understand the ins and outs of a product.</p>
      </div>
      <div class="modal-body">
      <div id="carousel-example-generic-site" class="carousel slide" data-ride="carousel">
  <!-- Indicators i deleted them-->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="Taskly_Site Map.jpg">
    </div>
    <div class="item">
      <img src="dbsite.png">
    </div>
  <div class="item">
     <img src="epilog_post.png">  
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic-site" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic-site" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</div>

<!--research-->
<!-- Modal -->
<div class="modal fade" id="researchModal" tabindex="-1" role="dialog" aria-labelledby="researchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="researchrModalLabel" style= "color:black;">research</h4>
        <p style= "color:black;">I have done competitive analysis, user research and creations of user personas.</p>
      </div>
      <div class="modal-body">
      <div id="carousel-example-generic-research" class="carousel slide" data-ride="carousel">
  <!-- Indicators i deleted them-->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="analysis.png">
    </div>
    <div class="item">
      <img src="questionaire.png">
    </div>
  <div class="item">
     <img src="Persona.png">  
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic-research" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic-research" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</div>

<!--documents Modal -->
<!-- Modal -->
<div class="modal fade" id="documentModal" tabindex="-1" role="dialog" aria-labelledby="documentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="documentModalLabel" style= "color:black;">documents</h4>
        <p style= "color:black;">I have created different documents to communicate information to clients.</p>
      </div>
      <div class="modal-body">
      <div id="carousel-example-generic-document" class="carousel slide" data-ride="carousel">
  <!-- Indicators i deleted them-->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="taskly-ci.png">
    </div>
    <div class="item">
      <img src="redlines.png">
    </div>
 <!-- <div class="item">
     <img src="UI KIT.jpg">  
  </div>-->

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic-document" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic-document" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</div>

<!--UI Modal -->
<!-- Modal -->
<div class="modal fade" id="uiModal" tabindex="-1" role="dialog" aria-labelledby="uiModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="uiModalLabel" style= "color:black;">ui design</h4>
        <p style= "color:black;">I have created final UI.</p>
      </div>
      <div class="modal-body">
      <div id="carousel-example-generic-ui" class="carousel slide" data-ride="carousel">
  <!-- Indicators i deleted them-->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="ui_1.png">
    </div>
    <div class="item">
      <img src="ui_2.png">
    </div>
  <div class="item">
     <img src="UI KIT.jpg">  
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic-ui" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic-ui" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</div>

<!--hover for page links -->
<script type="text/javascript">
 $(document).ready(function() {

  $('.column').mouseover(function(){
      $( this ).find(".heading").css('letter-spacing','10px');
  }).mouseout(function(){
    $( this ).find(".heading").css('letter-spacing','0px');
  });

 });
</script>

